body {
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
  font-family: monospace;
}

h2 {
  font-family: monospace;
  text-transform: uppercase;
  margin: 0;
}

label, p {
  font-family: system-ui;
}

a {
  margin-top: -30px;
  margin-bottom: -15px;
  color: silver;
  font-family: sans-serif;
  font-size: smaller;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #3f3f3f;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-container {
  margin-top: 2vh;
  width: 63%;
  max-width: 500px;
  min-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.automation-properties {
  background-color: #2a2a2a;
  min-width: 355px;
  width: 14vw;
  color: white;
  font-size: 1.25em;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  border-radius: 6px;
}

.automation-properties #filename-input {
  width: 50%;
}

.action {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.0;
  transition: scale 100ms linear;
  border-radius: 3px;
  color: white;
  background-color: #2a2a2a;
}

.action:hover {
  cursor: pointer;
  scale: 1.015;
  transition: scale 100ms linear;
}

.action:active {
  scale: 0.98;
  transition: scale 50ms linear;
}

.action i {
  font-size: 2vw;
  color: white;
  margin-block: 12px;
}

.action #rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.action__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-transform: uppercase;
  border: solid;
  border-width: thin;
  border-color: #3f3f3f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 83%;
  padding-block: 20px;
}

.action__options {
  display: flex;
  flex-direction: row;
  width: 83%;
  height: 175px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.options__item {
  border: solid;
  border-width: thin;
  border-color: #3f3f3f;
  width: 180px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
  transition: scale 100ms linear;
}

.options__item:hover {
  scale: 1.05;
  transition: scale 100ms linear;
  cursor: pointer;
}

#new {
  height: auto;
}

#instance {
  cursor: default;
  transition: none;
  scale: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

#generate {
  height: 7vh;
  background-color: #13622b;
}

#generate-loading {
  height: 7vh;
  background-color: grey;
  transition: none;
  font-size: 2vw;
}

#generate-loading:hover {
  cursor: default;
  transition: none;
  scale: 1;
}

#generate span, #generate-loading span {
  font-family: system-ui;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
}

.output {
  background-color: #2a2a2a;
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#data.output {
  height: auto;
}

#loading.output {
  height: 140px;
}

.instance__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: thin;
  border-color: #3f3f3f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-block: 20px;
}

.fa-solid.fa-xmark {
  position: absolute;
  color: red;
  right: 25px;
  scale: 0.75;
  transition: scale 100ms linear;
}

.fa-solid.fa-xmark #close:hover {
  scale: 0.9;
  cursor: pointer;
  transition: scale 100ms linear;
}

.instance__footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.footer__ok-button {
  height: 36px;
  width: 150px;
  border-radius: 4px;
  background-color: #13622b;
  font-family: system-ui;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  scale: 1;
  transition: scale 100ms linear;
}

.footer__ok-button span {
  user-select: none; 
}

.footer__ok-button:hover {
  scale: 1.05;
  transition: scale 100ms linear;
}

.steps {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: 100%;
  color: white;
}

#step {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#options {
  display: flex;
  width: 70px;
  flex-direction: row;
  justify-content: space-evenly;
}

#description {
  padding-left: 20px;
}

.fa-solid.fa-trash {
  color: red
}