body {
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
  font-size: 5em;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #3f3f3f;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-container {
  width: 63%;
  max-width: 500px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.automation-properties {
  background-color: #2a2a2a;
  min-width: 240px;
  width: 14vw;
  color: white;
  font-size: 1.25em;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

.action {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new {
  background-color: #2a2a2a;
}

#generate {
  background-color: #13622b;
  color: white;
  text-transform: uppercase;
}